@import '../../index.scss';

.root-activity-template {

    li {
        width: 100%;
    }

    .align-picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .view-profile {
        text-decoration: none;
        color: $mainBlue;
    }

    .vertical-justify {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile-picture {
        object-fit: cover;
        height: 13vh;
        width: 13vh;
        border-radius: 100%;
    }

    ul {
        padding-left: unset;
    }

    .view-plan, .view-buddies, .view-comments {
        margin-top: .5em;
        font-size: .9em;
        color: $mainBlue;
    }

    span {
        font-weight: bold;
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: .5em;

        > a {
            padding: 0 1em;
        }
    }

    .registered-buddies {
        // background-color:  rgb(214, 214, 213);
    }

    .signup{

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .25em;

            .signup-picture {
                height: 4vh;
                width: 4vh;
                border-radius: 100%;
            }

            .signup-name {
                color: black;
                font-size: .85em;
            }
    }

    .comment {
        
        display: flex;
        padding-left: 1em;
        align-items: center;
        margin-top: .25em;
        background-color: rgb(214, 214, 213);

        .delete-comment {
            margin-right: 1em;
            padding-right: 1em;
            color: red;
        }

        .comment-picture {
            height: 5vh;
            width: 5vh;
            border-radius: 100%;
        }

        .comment-text {
            padding-left: .5em;
            text-align: left;
        }
        
        .comment-name{
            color: black;
            font-size: .75em;
            padding-left: .5em;
            text-align: left;
        }
    }
}