@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap');

$mainBlue:             		#445d71;
$mainWhite:             	#FFFFFF;
$styleText:					'Economica', sans-serif;
$offWhite:					rgb(225, 224, 224);

body {
	font-family: 			"Roboto","Helvetica","Arial",sans-serif;
	font-size: 				16px;
	background-color: 		$offWhite;
}

h1, h2, h3, .header-text {
   font-family: 			$styleText;
   font-weight: 			bold;
}

.box{
	background-color:           $offWhite;
	margin:                     0 3em;
	padding:                    1em;
	border-radius:              10%;
}

.link {
	font-size: .8em;
	color: $mainBlue;
}

.style-text {
	font-family: 			$styleText;
}

.main-blue {
  background-color:   		$mainBlue;
}

.main-white {
  color:              		$mainWhite;
}

li {
	list-style: 			none;
}

.button {
	background-color: 		$mainBlue;
	color: 					$mainWhite;
	width: 					7em;
	border: 				none;
	margin-top: 			1em;
	padding: 				.33em;
	font-family: 			$styleText;
}

.hidden {
    display: 				none;
}

.center-text {
	text-align: 			center;
}

.full-width {
	width: 100%;
}

.error {
	color: rgb(189, 21, 21);
	font-size: .8em;
}