// @import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap');

$mainBlue:             		#445d71;
$mainWhite:             	#FFFFFF;

body {
	font-family: 			'Economica', sans-serif;
	font-size: 				16px;
}

.main-blue {
  background-color:   		$mainBlue;
}

.main-white {
  color:              		$mainWhite;
}

li {
	list-style: 			none;
}

.button {
	background-color: 		$mainBlue;
	color: 					$mainWhite;
	width: 					7em;
	border: 				none;
	margin-top: 			1em;
	padding: .33em
}