@import '../index.scss';

.root-register {

    margin-top:     10vh;
    display:        block;
    text-align:     center;

    .margin-bottom {
        margin-bottom: .75em
    }

    .input {
        width: 60%;
    }
}