@import '../../index.scss';

.root-profile-about {

    text-align:                     center;
    min-height:                     40vh;

    .profile-picture {
        object-fit:                 cover;
        height:                     20vh;
        width:                      20vh;
        border-radius:              100%;
        margin-top:                 1em;
    }

    .profile-name {
        font-size:                  2em;
    }

    .profile-location {
        font-size:                  .8em;
        margin-bottom: .5em;
    }



}