@import '../index.scss';

.root-feed {

    .scroll-text{
        font-weight: bold;
        margin-top: 1em;
    }

    .center-text {
        text-align: center;
    }

    li {
        width: 100%;
    }

    .align-picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .vertical-justify {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile-picture {
        height: 10vh;
        border-radius: 100%;
    }

    ul {
        padding-left: unset;
    }

    span {
        font-weight: bold;
    }

    .view-details {
        margin-top: .5em;
        font-size: .9em;
        color: $mainBlue;
    
    }
}