@import '../../index.scss';

.root-login {
    
    padding-top:            10vh;
    display:                block;
    text-align:             center;
    background-color:       $mainBlue;
    min-height:             90vh;

    .login-box {
        background-color:           rgb(225, 224, 224);
        margin:                     0 3em;
        padding:                    1em;
        border-radius:              10%;
    }

    .margin-bottom {
        margin-bottom:          .75em
    }

    .input {
        width: 60%;
    }

}