@import '../../index.scss';

.root-login {
    
    padding-top:            10vh;
    display:                block;
    text-align:             center;
    background-color:       $mainBlue;
    min-height:             90vh;

    .margin-bottom {
        margin-bottom:      .75em
    }

    .input {
        width:              60%;
    }

}