@import '../../index.scss';

.root-login {
    
    padding-top:     10vh;
    display:        block;
    text-align:     center;
    background-color: $mainBlue;
    height: 90vh;

    .login-box {
        background-color: $mainWhite;
        margin: 0 3em;
    }

    .margin-bottom {
        margin-bottom: .75em
    }

    .input {
        width: 60%;
    }
}