@import '../../index.scss';

.root-feed {

    .scroll-text{
        font-weight: bold;
        margin-top: 1em;
    }

    .center-text {
        text-align: center;
    }

    .filter-actions {
        display: flex;
        justify-content: space-around;
        padding-left: 0;

        > li {
            padding: .25em .5em;
            border: 1px solid $mainBlue;
            border-radius: 10%;
            color: $mainBlue;
        }

        .filtered {
            background-color: $mainBlue;
            color: $mainWhite;
        }
    }

}