@import '../../index.scss';

.root-edit-post {
    text-align:                 center;

    > h2 {
        margin-top:             1em;
        font-weight:            bold;
    }

    .full-text, .half-text {
        margin-top:             1em;
    }

    .full-text {
        width:                  100%;
        margin-left:            auto;
        margin-right:           auto;
    }

}